.modalContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 2rem;
}

.h1Whitelist {
  font-family:'Lexend', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  height: 20px;
  color:#04214c;
}

