.DS_Store
.vscode/
*/**/.DS_Store

/node_modules

dist
cache
artifacts
typechain-types
out

deployments/mainnet/solcInputs/*
deployments/arbitrum-one/solcInputs/*
deployments/optimism/solcInputs/*
deployments/base/solcInputs/*
deployments/linea/solcInputs/*
deployments/sepolia/solcInputs/*
deployments/optimism-goerli/solcInputs/*
deployments/base-goerli/solcInputs/*
deployments/arbitrum-goerli/solcInputs/*
deployments/polygon-mumbai/solcInputs/*
deployments/linea-goerli/solcInputs/*
deployments/hardhat/*
!deployments/hardhat/.chainId

.coverage_artifacts
.coverage_contracts
/coverage
/coverage.json
allFiredEvents
scTopics

.env*
!.env.template

# IGNORE deployments we don't care

deployments/mainnet/*
!deployments/mainnet/.chainId
deployments/arbitrum-one/*
!deployments/arbitrum-one/.chainId
deployments/optimism/*
!deployments/optimism/.chainId
deployments/base/*
!deployments/base/.chainId
deployments/linea/*
!deployments/linea/.chainId
deployments/optimism-goerli/*
!deployments/optimism-goerli/.chainId
deployments/base-goerli/*
!deployments/base-goerli/.chainId
deployments/arbitrum-goerli/*
!deployments/arbitrum-goerli/.chainId
deployments/polygon-mumbai/*
!deployments/polygon-mumbai/.chainId
deployments/linea-goerli/*
!deployments/linea-goerli/.chainId
