.button {
  background-color: blue;
  color: white;
  border: 1px solid darkblue;
  border-radius: 7px;
  cursor: pointer;
}

.button:hover {
  background-color: white;
  color: black;
}

.button:disabled {
  background-color: lightgrey;
  border-color: grey;
}

.arrow {
  border-width: 0;
  background-color: transparent;
  cursor: pointer;
}

.messages {
  margin: 2rem 0;
}

.subscribe {
  margin: 4rem 0 2rem 0;
}

.suscribeToDomain {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.4rem
}

.youAreSuscribed {
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: end;
}
