.button {
  background-color: lightcoral;
  color: black;
  border-radius: 6px;
  border: 1px solid red;
  margin-top: 35px;
  cursor: pointer;
}

.button:hover {
  background-color: red;
  border: 1px solid lightcoral;
}

.button:disabled {
  color: grey;
  background-color: lightgray;
}
