.main {
  min-height: 40vh;
  height: 85vh;
  padding: 3rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.verifiedContainer {
    flex: 1 1 auto;
    flex-direction: column;
    box-sizing: content-box;
    display: flex;
    margin: 4rem 4rem 4rem 4rem;
    width: 80%;
}

.verifyCardContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}

.tableTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.verifyContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.addressContainer{
  display: flex;
  justify-content: center;
}

.h2 {
  font-family:'Lexend', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  height: 10px;
  color:#04214c;
}

.h3 {
  font-family: 'Lexend', sans-serif;
  display: inline-block;
  font-size: 45px;
  padding: 5px 10px;
  border: 2px solid #73726D;  
  border-radius: 15px;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease; /* Adding transitions */
  text-decoration: none;
  color: #04214c;
}


.h4 {
  font-family:'Lexend', sans-serif, ;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:25px;
  height: 70px;
  color:#04214c;
  padding-bottom: 00px;
}

.blockchainContainer{
  display: flex;
  justify-content: flex-end;
}

.blockchains {
    border-top: 3px solid #eaeaea;
    justify-content: right;
    text-align: center;
    width: 200px;
    padding-bottom: 40px;
}
