.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;

  & > .unsupported {
    text-align: center;
  }
}

.cowPlugin {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.verified {

}

.notVerified {
  color: #e50000;
}

.verification {
  font-size: 8px;
  opacity: 29%;
}
